body {
  font-family: sans-serif;
  height: 100%;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  background-color: #eb7567;
  border-color: #eb7567;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #47b275;
  border-color: #47b275;
}

.bg-dark {
  background-color: #3776aa !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 54px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 60%;
    z-index: 1000;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
}

@media (min-width: 768px) {
//  .navbar .navbar-nav {
//    display: inline-block;
//    float: none;
//    vertical-align: top;
//  }
//  .navbar .navbar-collapse {
//    text-align: center;
//  }

}

a.nav-link {
  color: #3776aa !important;
  font-weight: bold;
}

.bg-black {
  background-color: #000000;
}

.text-blue {
  color: #3776aa;
}

.social-icon {
  height: 50px;
}

.bg-yellow {
  background-color: #fdb913;
}

.bg-red {
  background-color: #C1272D;
}

.bg-green {
  background-color: #006a44;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 100;
  }
  80% {
    opacity: 100;
  }
  90% {
    opacity: 0.7;
  }
}

.keystone-logo {
  max-height: 250px;
}

.speaker-photo {
  max-height: 200px;
}

.flag-container > .row {
  height: 5px;
}

#carouselExampleSlidesOnly {
  z-index: -1;
}

#about {
  margin-top: -5%;
}

#speakers {
  margin-top: -70px;
}

#location {
  margin-top: -80px;
}

.newsletter {
  height: 70px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}